######################
# essveepy git ignores
######################

# OS junk files
**/.DS_Store
**/.nfs*
**/*~

# Caches
**/__pycache__

$ HD5 files
**/*.hd5

# Spyder project
.spyproject

# Intermediate C products
**/*.d
**/*.gch
**/*.pch

# Compiled objects
**/*.o
**/*.elf
**/*.so
**/*.a
**/*.lib
**/*.out
**/*.hex

# Debug files
**/*.dSYM/

# Xcelium outputs
**/xcelium.d/
**/.simvision/
**/.bpad/
**/waves.shm/
